<footer>

  <div class="card text-white bg-dark mb-3" style="max-width: 1400rem;">
  <div class="card-header"><strong>Information</strong></div>
  <div class="card-body">
        <p class="card-text"><em>Created by Nguyễn Tất Hưng</em></p>
        <p class="card-text"><em>University of Science - K18</em></p>
        <p class="card-text"><em>Simple web server management</em></p>
  </div>

</div>

</footer>